doctype html

html
  head
    link(href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    link(href="./css/main.css" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="./js/main.js")
  body
    div(class="container")
      div(class="contact")
        div(class="contact__close")
          i(class="fas fa-times")
        img(class="contact__top" src="./images/contact-background.jpeg")
        img(class="contact__profile-image" src="./images/profile1.jpeg")  
        div(class="contact__bottom")
          h1 Amelia Smith
          div(class="contact__icons")
            i(class="fas fa-phone contact__bottom__icon")
            i(class="fas fa-heart contact__bottom__icon")
            i(class="fas fa-comment contact__bottom__icon")
      - for (var x = 1; x <= 4; x++)
        div(class="tile")
          img(src="./images/profile" + x + ".jpeg")
          div(class="tile tile__cover")
            div(class="tile__cover__plus")
              i(class="fas fa-plus")
      
