// sizes
$main-size: 600px;
$input-size: $main-size / 5;

// colors
$main-color: #00b8e6;
$secondary-color: #5cd65c;
$btn-color: #00b8e6;
$light-color: lighten($btn-color, 20);
$dark-grey: #737373;
$medium-grey: lighten($dark-grey, 15);
$light-grey: lighten($dark-grey, 30);

// fonts
@import url('https://fonts.googleapis.com/css?family=Lato');
$main-font: 'Lato', sans-serif;

html, body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  margin: 0px;

  background: linear-gradient(45deg, $secondary-color, darken($main-color, 15));

  font-family: $main-font;
}

.container {
  width: $main-size;
  height: $main-size;
  border-radius: 10px;

  background-color: white;

  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.header {
  color: $dark-grey;
  text-align: center;
}

.loading-bar {
  position: relative;
  width: 100%;
  height: 3px;

  background-color: $light-grey;

  &.active::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;

    background-color: $light-color;

    transform-origin: left;
    transform: scaleX(0);
    animation: bar 3.5s linear forwards;
  }
}

.upload {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 80%;

  &__btn {
    width: $main-size / 2.5;
    padding: 0.5em 1em;
    border-radius: 10px;

    background-color: $btn-color;
    color: white;

    font-size: 2em;

    box-shadow: 0px 3px darken($btn-color, 20);
    cursor: pointer;

    &:hover {
      box-shadow: 0px 3px darken($btn-color, 20), 0px 0px 10px $btn-color;
    }
  }

  &__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $input-size;
    height: $input-size;

    background-color: transparent;

    &__ctrl {
      position: relative;
      width: 100%;
      height: 100%;

      &.dragged-on::after {
        background-color: lighten($light-grey, 15);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;

        width: 100%;
        height: 100%;
        box-sizing: border-box;

        background-color: white;
        border: 2px dashed $medium-grey;
        border-radius: 5px;

        opacity: 1;
      }

      &::before {
        // stops images from being clicked on
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 1000;

        width: 100%;
        height: 100%;

        background-color: transparent;
      }
    }

    &__image {
      position: absolute;

      color: $dark-grey;
      font-size: 1em;

      &--upload::after {
        color: $light-grey;
        font-size: 3em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f382";
      }

      &--sync::after {
        display: block;
        color: $light-grey;
        font-size: 3em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f2f1";

        animation: rotate 3.5s ease-in-out;
      }

      &--done::after {
        color: $light-grey;
        font-size: 3em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00c";

        animation: done .5s;
      }
    }

  }
}

@keyframes rotate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg)
  }
}

@keyframes done {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bar {
  100% {
    transform: scaleX(1);
  }
}
