// sizes
$main-size: 600px;
$input-size: $main-size / 4;

// colors
$main-color: #00b8e6;
$secondary-color: #5cd65c;
$btn-color: #00b8e6;
$light-color: lighten($btn-color, 20);
$dark-grey: #737373;
$medium-grey: lighten($dark-grey, 15);
$light-grey: lighten($dark-grey, 30);

// fonts
@import url('https://fonts.googleapis.com/css?family=Lato');
$main-font: 'Lato', sans-serif;

// misc
$btn-border-top: 3px solid darken($btn-color, 10);
$btn-border-bottom: 3px solid darken($btn-color, 20);

html, body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  margin: 0px;

  background: linear-gradient(45deg, $secondary-color, darken($main-color, 15));

  font-family: $main-font;
}

.container {
  width: $main-size;
  height: $main-size;
  border-radius: 10px;

  background-color: white;

  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.header {
  color: $dark-grey;
  text-align: center;
}

.loading-bar {
  position: relative;
  width: 100%;
  height: 3px;

  background-color: $light-grey;

  &.active::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;

    background-color: $light-color;

    transform-origin: left;
    transform: scaleX(0);
    animation: bar 3.5s linear forwards;
  }
}

.upload {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 80%;

  &__btn {
    width: $main-size / 2.5;
    padding: 0.5em 1em;
    border-top: $btn-border-top;
    border-left: $btn-border-top;
    border-bottom: $btn-border-bottom;
    border-right: $btn-border-bottom;
    border-radius: 10px;

    background-color: $btn-color;
    color: white;

    font-size: 2em;

    cursor: pointer;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 10px 3px $btn-color;
    }

    &:hover {
      border-top: $btn-border-bottom;
      border-left: $btn-border-bottom;
      border-bottom: $btn-border-top;
      border-right: $btn-border-top;

      background-color: darken($btn-color, 3);
    }
  }

  &__input {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: $input-size;
    height: $input-size;

    background-color: transparent;

    &:focus-within &__image, &__image.dragged-on {
      background-color: lighten($light-grey, 15);
    }

    &__ctrl {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 100;
      opacity: 0;

      &:focus {
        outline: none;
      }

      &.dragged-on::after {
        background-color: lighten($light-grey, 15);
      }
    }

    &__image {
      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border: 2px dashed $medium-grey;
      border-radius: 5px;

      color: $dark-grey;
      background-color: white;

      font-size: 1em;

      &--upload::after {
        color: $light-grey;
        font-size: 4em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f382";
      }

      &--sync::after {
        display: block;
        color: $light-grey;
        font-size: 4em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f2f1";

        animation: rotate 3.5s ease-in-out;
      }

      &--done::after {
        color: $light-grey;
        font-size: 4em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00c";

        animation: done .8s;
      }
    }

  }
}

@keyframes rotate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg)
  }
}

@keyframes done {
  0%, 10% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}

@keyframes bar {
  100% {
    transform: scaleX(1);
  }
}
