$main-size: 600px;
$circle-size: $main-size / 4;
$triangle-flare-dist: $main-size / 2.5;

// colors
$base-color: #ff8533;
$shape-color: white;

// timings
$anim-duration: 5s;

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;

  background-color: lighten($base-color, 20);
}

%flares {
  position: absolute;
  left: 50%;

  width: $main-size / 120;
  height: $main-size / 20;
  background-color: $shape-color;

  transform: translateX(-50%);
}

.container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: $main-size;
  height: $main-size;
  border-radius: 10px;
  overflow: hidden;

  background-color: $base-color;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
}

.circle {
  position: absolute;

  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;

  background-color: $shape-color;

  animation: circle $anim-duration ease-in-out infinite;

  &__flare {
    width: $circle-size;
    height: $circle-size;
    border: $main-size/200 solid $shape-color;
    border-radius: 50%;
    box-sizing: border-box;

    animation: circle-flare $anim-duration ease-in-out infinite;
  }
}

.octagon {
  &__shape {
    position: absolute;
    width: $circle-size * 1.1;
    height: $circle-size * 1.1;

    animation: octagon $anim-duration ease-in-out infinite;

    polygon {
      fill: $shape-color;
    }
  }

  &--flare-animation {
    position: absolute;
    width: $circle-size * 1.1;
    height: $circle-size * 1.1;
    animation: octagon-flare $anim-duration ease-in-out infinite;
  }

  &__flare {
    position: absolute;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      top: -30%;

      @extend %flares;
    }

    &::before {
      content: "";
      bottom: -30%;

      @extend %flares;
    }

    &--1 {
      transform: rotate(0deg);
    }

    &--2 {
      transform: rotate(45deg);
    }

    &--3 {
      transform: rotate(90deg);
    }

    &--4 {
      transform: rotate(135deg);
    }
  }
}

.triangle {
  &__shape {
    position: absolute;
    width: $circle-size * 1.2;
    height: $circle-size * 1.2;

    animation: triangle $anim-duration ease-in-out infinite;

    polygon {
      fill: $shape-color;
    }
  }

  &--flare-animation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $circle-size;
    height: $circle-size;
  }

  &__flare {
    position: absolute;
    top: $circle-size/6;

    width: 15px;
    height: $circle-size;

    &::after {
      $height: 20%;

      content: "";
      top: ($height + 40);

      @extend %flares;

      animation: triangle-flare $anim-duration linear infinite;
    }

    &--1 {
      transform: rotate(0deg);
    }

    &--2 {
      transform: rotate(120deg);
    }

    &--3 {
      transform: rotate(240deg);
    }
  }
}

@keyframes circle {
  0% {
    transform: translateY(-$main-size);
  }
  5% {
    transform: translateY($main-size/15) scale(1.1,0.8);
  }
  10% {
    transform: translateY(-$main-size/40) scale(1);
  }
  15%{
    transform: translate(0) scale(1);
  }
  20% {
    transform: translate(0) scale(1.2);
  }
  25%, 75% {
    transform: translate3d(0,0,0) scale(0);
  }
  80% {
    transform: translate3d(0,0,0) scale(1.4);
  }
  85%, 90% {
    transform: scale(1);
  }
  95% {
    transform: translateY(-$main-size/15);
  }
  100% {
    transform: translateY($main-size);
  }
}

@keyframes circle-flare {
  0%, 75% {
    transform: scale(0);
    opacity: 0;
  }
  81% {
    transform: scale(1);
    opacity: 1;
  }
  90%, 100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes triangle {
  0%, 50% {
    transform: scale(0);
  }
  55% {
    transform: scale(1.3);
  }
  60%, 65% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  75%, 100% {
    transform: scale(0);
  }
}

@keyframes triangle-flare {
  0%, 54% {
    opacity: 0;
  }
  55% {
    transform: translate(-50%, -$triangle-flare-dist/2.5) scale(1);
    opacity: 1;
  }
  65%, 100% {
    transform: translate(-50%, -$triangle-flare-dist) scale(1.4);
    opacity: 0;
  }
}

@keyframes octagon {
  0%, 25% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.3);
  }
  35%, 40% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.2);
  }
  50%, 100% {
    transform: scale(0);
  }
}

@keyframes octagon-flare {
  0%, 25% {
    transform: scale(0);
  }
  30% {
    opacity: 1;
  }
  40%, 100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
